.container {
    background-color: #fff;
    padding: 3rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 650px; */
    height: 100vh;
    background-image: url(../../../assets/Background.png);
    color: white;
  }

  .image__logo {
    max-width: 300px;
  }