:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--blue {
  background-color: #fff;
  color: #26a0da;
  border: 2px solid #26a0da;
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--mobile {
  text-align: center;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 24px;
  background-color: transparent;
  color: #fff;
  padding: 14px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

.btn--wide {
  padding: 12px 56px;
  font-size: 18px !important;
}

.btn--large:hover,
.btn--medium:hover,
.btn--mobile:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
}

.btn--wide:hover {
  color: #fff;
  background-color: #f00946;
}

.blue {
  background-color: #26a0da;
  color: #fff;
  border: none;
}

.red {
  background-color: #f00946;
  color: #fff;
  border: none;
}

.cream {
  background-color: #f6c06e;
  color: #242424;
  border: none;
}

.primary {
  background-color: #242424;
  color: #fff;
  border: none;
}

.primary:hover {
  background-color: #fff;
  color: #242424;
  border: none;
}

.green {
  background-color: #25ce4a;
  color: #fff;
  border: none;
}

.green:hover {
  background-color: #242424;
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  height: 100%;
  width: 100%;
}

.btn--blue:hover {
  background-image: linear-gradient(to right, #fff 0%, #26a0da 51%, #fff 100%);
  color: #26a0da;
}

.btn--evoblue {
  border-radius: 50px;
  transition: 0.3s;
  border: 2px solid #26a0da;
  background: transparent;
  color: #26a0da;
}

.btn--evoblue:hover {
  border: 2px solid #26a0da;
  background: #26a0da;
  color: #fff;
  box-shadow: 0px 0px 12px 0px rgba(38, 161, 218, 0.4);
}

@media screen and (max-width: 960px) {
  .btn--evoblue {
    max-width: 100% !important;
  }
}

.btn--evoblue {
  border-radius: 50px;
  transition: 0.3s;
  border: 2px solid #26a0da;
  background: transparent;
  color: #26a0da;
}

.btn--evoblue:hover {
  border: 2px solid #26a0da;
  background: #26a0da;
  color: #fff;
  box-shadow: 0px 0px 12px 0px rgba(38, 161, 218, 0.4);
}

/* evoblue light */
.btn--evoblue-light {
  border-radius: 50px;
  transition: 0.3s;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}

.btn--evoblue-light:hover {
  border: 2px solid #ffffff;
  background: #ffffff;
  color: #26a0da;
  box-shadow: 0px 0px 70px 0px rgba(108, 226, 255, 0.7);
}

@media screen and (max-width: 960px) {
  .btn--evoblue-light {
    max-width: 100% !important;
  }
}

.btn--evoblue-dark {
  border-radius: 50px;
  transition: 0.3s;
  color: white;
  border: 2px solid #ffffff;
  background: transparent;
  color: #fff;
}

.btn--evoblue-dark:hover {
  border: 2px solid #26a0da;
  background: #26a0da;
  color: #fff;
  box-shadow: 0px 0px 12px 0px rgba(38, 161, 218, 0.4);
}

.btn--white {
  border-radius: 50px;
  transition: 0.3s;
  color: #141414;
  background-color: rgba(255, 255, 255, 0.432);
  border: 2px solid rgba(255, 255, 255, 0.432);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.04);
}

.btn--white:hover {
  border: 2px solid #ffffff;
  background: #ffffff;
  color: #000;
  box-shadow: 0px 0px 12px 0px rgb(38, 160, 218, 0.2);
}
