.navbar {
  background-color: transparent;
  height: 110px;
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  width: 100%;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  flex: end;
}

.nav-item {
  height: 80px;
  /* border-bottom: 2px solid white; */
  transition: 0.5s;
}

.nav-item:hover {
  /* background-color: rgb(253, 253, 253); */
  /* border-bottom: 4px solid #c8596b; */
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  transition: 0.31s;
}

.nav-links:hover {
  color: #ff8639;
}

.fa-bars {
  color: #276788;
}

.menu-icon {
  display: none;
}

.navbar__logo {
  max-width: 130px;
  
}

.navbar-mobile{
  display: none !important;
  background-color: transparent;
  height: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  width: 100%;
  position: absolute;
  top: 0;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .navbar{
    display: none !important;
  }

  .navbar-mobile{
    display: block !important;
  }
}


